li {
	position: relative;
	left: 0;
	transition: .3s ease;
	background-color: white;
	border-radius: 15px;
	display: block;
	padding: .8em 1.5em .8em 1em;
	margin: 5px;
}

ul {
	width: 8em;
	padding-left: 0;
}

li:hover {
	left: 1em;
	color: white;
	font-size: 1.2em;
	padding: 1em .5em;
	inbox-shadow: inset 100px 0 0 0 yellow;
}

a {
		text-decoration: none;
	
}

a:visited {
	color: black;
}